Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shalini\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: outcome in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shalini\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shalini\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shalini\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [54]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [55]:
#Opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [56]:
# Entering desgination and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [58]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [59]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [13]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
#Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping the job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [26]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Tech Data Analyst,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Wipro,3-6 Yrs
1,Data Analyst,Chennai,Danfoss,0-5 Yrs
2,Data Analyst - FinTech,"Noida, Ghaziabad, Faridabad, Gurgaon/Gurugram",Primo Hiring,1-3 Yrs
3,Data Analyst,Ahmedabad(Vatva),Freelancer Komal Mittal,2-5 Yrs
4,Data Analyst,"Gurgaon/ Gurugram, Haryana",Dr Lal PathLabs,3-6 Yrs
5,Data Analyst,Mumbai,Dream11,0-3 Yrs
6,Data Analyst,New Delhi,Timble Technologies,0-2 Yrs
7,Data Analyst,Mumbai,Everyday Health India,0-3 Yrs
8,Data Analyst,Mumbai,Schneider Electric,7-15 Yrs
9,Hiring For Data Analyst,Remote,Infogain,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shalini\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: sniffio in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shalini\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shalini\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shalini\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [4]:
#Opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# Entering desgination and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [11]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div[1]/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [12]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [13]:
job_title=[]
job_location=[]
company_name=[]

In [14]:
#Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping the job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [16]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [17]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,})
df

,Title,location,Company_name
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
5,Senior Data Scientist,Bangalore/Bengaluru,Walmart
6,Data Scientist,Bangalore/Bengaluru,Walmart
7,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
8,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain
9,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",IBS Software Services

Qus:3 In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [5]:
#Lets first connect to the web driver.
driver = webdriver.Chrome(r"chromedriver.exe")

In [25]:
#Opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [26]:
# Entering desgination and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [28]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [29]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [31]:
#Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping the job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Delhi / NCR, Kolkata, Hyderabad/Secun...",Deloitte,9-14 Yrs
1,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
2,Data Scientist,"Hybrid - Delhi / NCR, Pune, Bangalore/Bengalur...",Infogain,3-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IBS Software Services,3-8 Yrs
4,Director/Senior Director - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,10-15 Yrs
5,Manager/Senior Manager - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,8-12 Yrs
6,Data Scientist - R/Python,"Temp. WFH - Delhi / NCR, Kolkata, Mumbai, Hyde...",Okda Solutions,4-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist - R/Python,"Temp. WFH - Delhi / NCR, Kolkata, Mumbai, Visa...",Okda Solutions,4-7 Yrs
9,Senior Data Scientist,"Delhi / NCR, Indore, Madhya Pradesh, Pune, Ban...",Impetus Technologies,4-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
As
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [67]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\shalini\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shalini\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: async-generator>=1.9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\shalini\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shalini\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shalini\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shalini\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shalini\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [81]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [12]:
#Lets first connect to the web driver.
driver = webdriver.Chrome(r"chromedriver.exe")

In [7]:
#Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [9]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [10]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [11]:
B_name[:100]

['ROYAL SON',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'AISLIN',
 'SRPM',
 'PIRASO',
 'BKGE',
 'Sewell',
 'Elligator',
 'Elligator',
 'Fastrack',
 'AISLIN',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'iCopertina',
 'Fastrack',
 'PIRASO',
 'AISLIN',
 'SUNBEE',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'like future',
 'SUNBEE',
 'AISLIN',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'style guru',
 'ROYAL SON',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'AISLIN',
 'SRPM',
 'PIRASO',
 'BKGE',
 'Sewell',
 'Elligator',
 'Elligator',
 'Fastrack',
 'AISLIN',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'iCopertina',
 'Fastrack',
 'PIRASO',
 'AISLIN',
 'SUNBEE',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'like future',
 'SUNBEE',
 'AISLIN',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'style guru',
 'ROYAL SON',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'AISLIN',
 'SRPM',
 'PIRASO',
 'BKGE',
 'Sewell',
 'Elligator',
 'Elligator',
 'Fastrack',
 'AISLIN',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON']

In [13]:
P_desc[:100]

['UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Gradient Retro Square, Over-sized Sungla...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Gradient Wayfarer, Rectangular Sunglasse...',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Gradient Retro Square, Over-sized Sungla...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Gradient Wayfarer, Rectangular Sunglasse...',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Gradient Retro Square, Over-sized Sungla...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [14]:
Price[:100]

['₹471₹1,49968% off',
 '₹398₹1,49973% off',
 '₹216₹1,29983% off',
 '₹213₹59964% off',
 '₹499₹89944% off',
 '₹239₹1,59985% off',
 '₹109₹1,29991% off',
 '₹520₹2,60080% off',
 '₹179₹1,29986% off',
 '₹268₹1,59983% off',
 '₹149₹99985% off',
 '₹647₹1,99967% off',
 '₹179₹99982% off',
 '₹149₹99885% off',
 '₹569₹99943% off',
 '₹560₹2,60078% off',
 '₹149₹99985% off',
 '₹569₹99943% off',
 '₹649₹2,50074% off',
 '₹674₹1,99966% off',
 '₹609₹1,09944% off',
 '₹214₹1,59986% off',
 '₹566₹99943% off',
 '₹236₹99976% off',
 '₹199₹99980% off',
 '₹609₹1,09944% off',
 '₹415₹2,59984% off',
 '₹495₹2,15076% off',
 '₹315₹1,29975% off',
 '₹857₹8994% off',
 '₹559₹99944% off',
 '₹449₹1,49970% off',
 '₹609₹99939% off',
 '₹190₹99980% off',
 '₹259₹1,29980% off',
 '₹537₹2,15075% off',
 '₹192₹1,59987% off',
 '₹873₹1,99956% off',
 '₹519₹89942% off',
 '₹899₹1,99955% off',
 '₹67466% off',
 '₹60944% off',
 '₹17982% off',
 '₹26883% off',
 '₹56943% off',
 '₹471₹1,49968% off',
 '₹398₹1,49973% off',
 '₹216₹1,29983% off',
 '₹213₹59964% off',
 '₹499₹89944% off',
 '₹239₹1,59985% off',
 '₹109₹1,29991% off',
 '₹520₹2,60080% off',
 '₹179₹1,29986% off',
 '₹268₹1,59983% off',
 '₹149₹99985% off',
 '₹647₹1,99967% off',
 '₹179₹99982% off',
 '₹149₹99885% off',
 '₹569₹99943% off',
 '₹560₹2,60078% off',
 '₹149₹99985% off',
 '₹569₹99943% off',
 '₹649₹2,50074% off',
 '₹674₹1,99966% off',
 '₹609₹1,09944% off',
 '₹214₹1,59986% off',
 '₹566₹99943% off',
 '₹236₹99976% off',
 '₹199₹99980% off',
 '₹609₹1,09944% off',
 '₹415₹2,59984% off',
 '₹495₹2,15076% off',
 '₹315₹1,29975% off',
 '₹857₹8994% off',
 '₹559₹99944% off',
 '₹449₹1,49970% off',
 '₹609₹99939% off',
 '₹190₹99980% off',
 '₹259₹1,29980% off',
 '₹537₹2,15075% off',
 '₹192₹1,59987% off',
 '₹873₹1,99956% off',
 '₹519₹89942% off',
 '₹899₹1,99955% off',
 '₹67466% off',
 '₹60944% off',
 '₹17982% off',
 '₹26883% off',
 '₹56943% off',
 '₹471₹1,49968% off',
 '₹398₹1,49973% off',
 '₹216₹1,29983% off',
 '₹213₹59964% off',
 '₹499₹89944% off',
 '₹239₹1,59985% off',
 '₹109₹1,29991% off',
 '₹520₹2,60080% off',
 '₹179₹1,29986% off',
 '₹268₹1,59983% off']

In [17]:
Discount[:100]

['68% off',
 '73% off',
 '83% off',
 '64% off',
 '44% off',
 '85% off',
 '91% off',
 '80% off',
 '86% off',
 '83% off',
 '85% off',
 '67% off',
 '82% off',
 '85% off',
 '43% off',
 '78% off',
 '85% off',
 '43% off',
 '74% off',
 '66% off',
 '44% off',
 '86% off',
 '43% off',
 '76% off',
 '80% off',
 '44% off',
 '84% off',
 '76% off',
 '75% off',
 '4% off',
 '44% off',
 '70% off',
 '39% off',
 '80% off',
 '80% off',
 '75% off',
 '87% off',
 '56% off',
 '42% off',
 '55% off',
 '68% off',
 '73% off',
 '83% off',
 '64% off',
 '44% off',
 '85% off',
 '91% off',
 '80% off',
 '86% off',
 '83% off',
 '85% off',
 '67% off',
 '82% off',
 '85% off',
 '43% off',
 '78% off',
 '85% off',
 '43% off',
 '74% off',
 '66% off',
 '44% off',
 '86% off',
 '43% off',
 '76% off',
 '80% off',
 '44% off',
 '84% off',
 '76% off',
 '75% off',
 '4% off',
 '44% off',
 '70% off',
 '39% off',
 '80% off',
 '80% off',
 '75% off',
 '87% off',
 '56% off',
 '42% off',
 '55% off',
 '68% off',
 '73% off',
 '83% off',
 '64% off',
 '44% off',
 '85% off',
 '91% off',
 '80% off',
 '86% off',
 '83% off',
 '85% off',
 '67% off',
 '82% off',
 '85% off',
 '43% off',
 '78% off',
 '85% off',
 '43% off',
 '74% off',
 '66% off']

In [19]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

# Creating a dataframe of the above data

In [20]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [21]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,ROYAL SON,"₹471₹1,49968% off","UV Protection Rectangular, Retro Square Sungla...",68% off
1,ROYAL SON,"₹398₹1,49973% off",Mirrored Aviator Sunglasses (55),73% off
2,SRPM,"₹216₹1,29983% off",UV Protection Wayfarer Sunglasses (50),83% off
3,Elligator,₹213₹59964% off,"UV Protection Cat-eye, Retro Square, Oval, Rou...",64% off
4,Fastrack,₹499₹89944% off,UV Protection Rectangular Sunglasses (Free Size),44% off
...,...,...,...,...
95,AISLIN,"₹239₹1,59985% off",UV Protection Wayfarer Sunglasses (Free Size),78% off
96,Elligator,"₹109₹1,29991% off",UV Protection Wayfarer Sunglasses (56),85% off
97,Fastrack,"₹520₹2,60080% off",UV Protection Wayfarer Sunglasses (Free Size),43% off
98,VINCENT CHASE,"₹179₹1,29986% off",Others Retro Square Sunglasses (52),74% off
99,ROYAL SON,"₹268₹1,59983% off",UV Protection Retro Square Sunglasses (Free Size),66% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [42]:
#Lets first connect to the web driver.
driver = webdriver.Chrome(r"chromedriver.exe")

In [ ]:
#Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [43]:
r_rating=[]
r_review=[]
review1=[]

In [58]:
for i in range(3):
    r_rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    r_r=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    price =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
       
    for j  in r_rating:
        r_rating.append(j.text)
    r_rating[:100]    
    
    
    
    for k in r_review:
        r_review.append(k.text)
    r_review[:100] 
    
    
    for l in review1:
        review1.append(l.text)
    review1[:100]

In [59]:
r_rating[:10]

[]

In [60]:
r_review[:100]

[]

In [61]:
review1[:100]

[]

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [68]:
#Lets first connect to the web driver.
driver = webdriver.Chrome(r"chromedriver.exe")

In [63]:
#Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [69]:
B_name=[]
P_desc=[]
Price=[]

In [78]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    
    for j  in B_name:
        B_name.append(j.text)
    B_name[:100]    
    
    for k in P_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    for l in Price:
        Price.append(l.text)
    Price[:100]

In [79]:
B_name[:100]

[]

In [80]:
p_desc[:100]

[]

In [81]:
 price[:100]

[]

In [84]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

0
0
0

(None, None, None)

In [85]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [86]:
sun_gl

Empty DataFrame
Columns: [Brand_name, P_price, Pr_desc]
Index: []